<ion-header>
    <mt-nav-bar [userTo]="userTo"
                [status]="userToStatus()"></mt-nav-bar>
</ion-header>



<ion-content class="messages">

    <div *ngFor="let msg of msgList; let i = index"
         class="message"
         [class.first]="isFirstMessage(i)">

        <time #stickytime
              class="stickytime message__time"
              *ngIf="isNewDay(i)">{{msg.time | amLocal | amCalendar}}</time>
        <mt-message [user]="user"
                    [message]="msg"
                    [class.left]="msg.userFrom.id === userTo?.id"
                    [class.right]="msg.userFrom.id === user?.id"></mt-message>

    </div>

</ion-content>



<ion-footer class="footer-input"
            no-border>
    <mt-input-message #inputMessage
                      [disable]="chatDisabled"
                      (onFocus)="onInputMessageFocus()"
                      (onFocusOut)="onInputMessageFocusOut()"
                      (messageSent)="onMessageSent($event)"
                      (onEmoticonsOpen)="onEmoticonsOpen()"></mt-input-message>
</ion-footer>
